body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e3c72;
    color: white;
    padding: 15px 25px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg,#2a5298,#1e3c72);
    color: white;
}

.btn {
    background: white;
    color: #1e3c72;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
}

/* CONTENT */
.content {
    padding: 40px;
    text-align: center;
}

/* COUNTDOWN */
.countdown-section {
    text-align: center;
    padding: 60px 20px;
}

#countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.box {
    background: #1e3c72;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 110px;
}

.box span {
    font-size: 2rem;
    font-weight: bold;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
